@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.bg-gradient-blue {
  background: linear-gradient(45deg, #0284c7 60%, #b3b3bf 100%);
}

.shadow-blue {
  box-shadow: 1px 1px 8px 1px #0284c780;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  background: -webkit-linear-gradient(0deg, #1f262a 0%, #4e595e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: -webkit-linear-gradient(0deg, #0284c7 60%, #a3a1f7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.radial-gradient-blue {
  background: radial-gradient(circle at top right, #0285c7a7 40%, #00000000 85%);
  background-size: contain;
}