@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-blue {
    background: linear-gradient(45deg, #0284c7 60%, #A3A1F7 100%);
}

.shadow-blue {
    box-shadow: 1px 1px 8px 1px #0284c780;
    font-weight: bold;
}


h3 {
    font-size: 3rem;
    background: -webkit-linear-gradient(0deg, #1f262a 0%, #4e595e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }